<!-- Testimonial -->
<section id="engo-4" class="engo-box">
  <div id="testimonial" class="testimonial-v2 margin-bottom-100">
    <!-- <div class="parallax-window " data-parallax="scroll" data-image-src="images/testimonial3.png"> -->
    <div class="parallax parallax-v1  background-img-v4 parallax-light" >
      <div class="container">
        <div class="swiper-container testimonial-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="thumb-image">
                <%= image_pack_tag "tes-img.png", alt: "Testimonial", class: "tes-img" %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="thumb-image">
                <%= image_pack_tag "tes-img.png", alt: "Testimonial", class: "tes-img" %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="thumb-image">
                <%= image_pack_tag "tes-img.png", alt: "Testimonial", class: "tes-img" %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="thumb-image">
                          <%= image_pack_tag "tes-img.png", alt: "Testimonial", class: "tes-img" %>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="thumb-image">
                <%= image_pack_tag "tes-img.png", alt: "Testimonial", class: "tes-img" %>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-container testimonial-content-gallery">
          <div class="swiper-wrapper">
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE  
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE  
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE  
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE  
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
            <div class="swiper-slide testimonial-content" >
              <div class="info-tes">
                <div class="comment">
                  I rarely write reviews for products but with the EngoCreative, I am more than grateful. The site is fully customizable and you can really feel like playing while designing the site! Thanks again for having made such a convenient, yet fully-functional theme.
                </div>
                <div class="line"></div>
                <div class="author">
                  JONATHAN VANCE  
                  <label> CEO & Founder EngoCreative</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Testimonial -->