<div id="page">
  <div class="wapper-inner row-offcanvas row-offcanvas-left">
    <%= render  "page/header/header" %>
    <%= render  "page/colection/colection1" %>

    <main class="wrapper main-content ">
      <%= render  "page/colection/colection2" %>
      <%= render  "page/colection/colection3" %>
      <%= render  "page/colection/colection4" %>
      <%= render  "promotion" %>
    <%= render  "testimonial" %>

    </main>			
    <%= render  "footer" %>
  </div>	
</div>