<div id="page">
  <div class="wapper-inner row-offcanvas row-offcanvas-left">
    <main class="wrapper main-content ">
      <%= render "page/container/slider" %>
      <%= render "page/container/box_title" %>
      <%= render "page/container/about" %>
      <%= render "page/container/my_service" %>
      <%= render "testimonial" %>
      <%= render "page/container/blog" %>
      <%= render "page/container/some_image" %>
      <%= render "page/colection/colection2" %>
      <%= render "page/container/contact" %>
    </main>
  </div>	
</div>