<div id="page">
  <div class="wapper-inner row-offcanvas row-offcanvas-left">
    <main class="wrapper main-content ">
      <%= render "page/container/promotion3" %>
      <%= render "page/container/slider1" %>
      <%= render "page/container/carousel_product" %>
      <%= render "page/container/my_service" %>
      <%= render "page/container/some_image" %>
      <%= render "page/container/colection" %>
      <%= render "page/colection/colection2" %>
      <%= render "page/container/contact" %>
    </main>
  </div>
</div>
